/*
Sky Theme
-------------------------
Author : Tathagata Basu
*/

/* General */
body {
    background: #ffffff;
    color: #101010;
}
h1, h2, h3, h4, h5, h6 {
    color: #00acac;
}
.heading h3 {
    color:#ffffff;
}
#content {
    background: #ffffff;
}
#wrapper {
    background: #ffffff;
}
table thead th {
    color:#00acac;
}

/* Header */
#header {
    background: #ffffff;
	border-bottom: 1px solid #348fe2;
	box-shadow: 0 1px 0px #348fe2;
}
.navbar .brand {
	color: #1199ff;
	text-shadow: 0 1px 0 #ffffff;
}
.navbar .brand .slogan {
	color: #00acac;
}
.navbar .nav > li > a {
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #348fe2;
   	   -moz-text-shadow: 0 1px 0 #348fe2;
            text-shadow: 0 1px 0 #348fe2;
    border-color: #348fe2 #1199ff;
    background-color: #348fe2;
    -webkit-box-shadow: inset 0 0 0 #fff;
       -moz-box-shadow: inset 0 0 0 #fff;
        -ms-box-shadow: inset 0 0 0 #fff;
            box-shadow: inset 0 0 0 #fff;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#348fe2,EndColorStr=#1199ff);
    background-image: -moz-linear-gradient(top,#348fe2 0,#1199ff 100%);
    background-image: -ms-linear-gradient(top,#348fe2 0,#1199ff 100%);
    background-image: -o-linear-gradient(top,#348fe2 0,#1199ff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#348fe2),color-stop(100%,#1199ff));
    background-image: -webkit-linear-gradient(top,#348fe2 0,#1199ff 100%);
    background-image: linear-gradient(to bottom,#348fe2 0,#1199ff 100%);
}
.navbar .nav li > a:hover {
	color: #ffffff;
    border-color: #1199ff #348fe2;
    background-color: #1199ff;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#1199ff,EndColorStr=#348fe2);
    background-image: -moz-linear-gradient(top,#1199ff 0,#348fe2 100%);
    background-image: -ms-linear-gradient(top,#1199ff 0,#348fe2 100%);
    background-image: -o-linear-gradient(top,#1199ff 0,#348fe2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#1199ff),color-stop(100%,#348fe2));
    background-image: -webkit-linear-gradient(top,#1199ff 0,#348fe2 100%);
    background-image: linear-gradient(to bottom,#1199ff 0,#348fe2 100%);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 0 rgb(255, 255, 255) inset;
}
.navbar .nav .active > a {
	color: #ffffff;
}
.navbar .nav .active > a:hover {
	color: #ffffff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #ffffff;
}
.dropdown-menu {
	background: #009494;
	border: 1px solid #009494;
    -webkit-box-shadow: 0 1px 0px #ffffff;
       -moz-box-shadow: 0 1px 0px #ffffff;
            box-shadow: 0 1px 0px #ffffff;
    top: 51px;
}
.dropdown-menu .menu {
	background: #00acac;
	border: 1px solid #00acac;
}
.navbar .dropdown-menu:before {
	background: url(images/arrowup-ocean.png) no-repeat !important;
}
.dropdown-menu li > a {
	color: #ffffff;
}
.navbar .nav li.dropdown ul a:hover {
	color: #ffffff;
	text-decoration:none;
}

/* Sidebar */
#sidebar .shortcuts, #sidebar-right .shortcuts, .heading {
    border-bottom: 1px solid #1199ff;
    background: #1199ff;
    background: -moz-linear-gradient(top, #348fe2 1%, #1199ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#348fe2), color-stop(100%,#1199ff));
    background: -webkit-linear-gradient(top, #348fe2 1%, #1199ff 100%);
    background: -o-linear-gradient(top, #348fe2 1%,#1199ff 100%);
    background: -ms-linear-gradient(top, #348fe2 1%,#1199ff 100%);
    background: linear-gradient(top, #348fe2 1%,#1199ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#348fe2', endColorstr='#1199ff',GradientType=0 );
    position: relative;
    -moz-box-shadow: 0 1px 0px #1199ff;
    -webkit-box-shadow: 0 1px 0px #1199ff;
    box-shadow: 0 1px 0px #1199ff;
	color:#ffffff;
}
#sidebarbg {
    background: #1199ff;
	border-right: 1px solid #348fe2;
}
.sidebar-widget .title {
	background: #00acac;
	border-top: 1px solid #1199ff;
    border-bottom: 1px solid #00acac;
	-moz-box-shadow: 0 1px 0px #1199ff;
	-webkit-box-shadow: 0 1px 0px #1199ff;
	box-shadow: 0 1px 0px #1199ff;
	color:#ffffff;
}
.collapseBtn.leftbar .icon12 {
    color: #00acac;
}
.mainnav li a {
	border-bottom: 1px solid #00acac;
    border-top: 1px solid #1199ff;
	box-shadow: 0 1px 0px #1199ff;
	color: #ffffff;
}
.mainnav li a:hover {
	background: #00acac;
    color: #ffffff;
}
.mainnav li a.current, 
.mainnav li a.current:hover {
	color: #009494;
    background: #ffffff;
    font-weight: bold;
}
.mainnav li a.current.hasUl,
.mainnav li a.current.hasUl:hover {
    color: #ffffff;
    background: #009494;
}
.mainnav ul li .sub {
	border-bottom: 1px solid #008844;
    background: #00acac;
}
.mainnav ul li .sub li:first-child a.current {
	border-top: 1px solid #ffffff;
}
.mainnav ul li .sub li:last-child {
	border-bottom: 1px solid #00acac;
	box-shadow: 0 1px 0px #00acac;
}
.mainnav ul li .sub li:last-child a:hover {
	border-top: 1px solid #009494;
}
.mainnav ul li .sub li a:hover {
	border-bottom: 1px solid #009494;
    background: #009494;
    color: #ffffff;
	border-top: 1px solid #009494;
}
.mainnav ul li .sub li a.current {
	border-top: 1px solid #55B3D6;
	border-bottom: 1px solid transparent;
	box-shadow: 0 1px 0px #096385;
}
.mainnav ul li .sub li a.current:hover {
	border-bottom: 1px solid transparent;
	color: #4796B4;
}
/* Breadcrumb */
.breadcrumb > li {
	color:#ffffff;
    text-shadow: 0 1px 0 #096385;
}
.breadcrumb > .active {
    color: #ffffff;
}

/* Icon */
.nav .icon16,
.breadcrumb .icon16,
.mainnav .icon16 {
    color: #ffffff;
}
.mainnav li a.current .icon16, 
.mainnav li a.current:hover .icon16 {
	color: #009494;
}
.mainnav li a.current.hasUl .icon16, 
.mainnav li a.current.hasUl:hover .icon16 {
	color: #ffffff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open .caret {
	border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

/* Box */
.box {
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}
.box.hover {
	-moz-box-shadow:0px 0px 3px rgba(9, 99, 133, 0.2);
	-webkit-box-shadow: 0px 0px 3px rgba(9, 99, 133, 0.2);
	box-shadow: 0px 0px 3px rgba(9, 99, 133, 0.2);
}
.box .title {
	background: #cef1ff;
	border: 1px solid #abe7ff;
}
.box .title .minimize {
	background: url(../../images/icons/minus.png) no-repeat center 3px #AAE8FF;
}
.box .content {
	border: 1px solid #abe7ff;
}

/* Datatabe */
.sorting {
    background: url('images/sort_both_sky.png') no-repeat center right !important;
}
.sorting_asc {
    background: url('images/sort_asc_sky.png') no-repeat center right !important;
}
.sorting_desc {
    background: url('images/sort_desc_sky.png') no-repeat center right !important;
}